
h1 {
    color: deepskyblue;
    text-align: center;
    font: verdana;
}

h2 {
   color: deepskyblue;
   text-align: center;
   font: verdana;
}

h3 {
    color: deepskyblue;
    text-align: center;
    font: verdana;
}

p {
    font: sans-serif;
    font-size: 20px;
        text-align: center;
}

h4 { 
    text-align: center
}

h5 { 
    text-align: center
}

@media (max-width: 502px){
    #cat {
    width:100%;
    }
}