
h1 {
    color: deepskyblue;
    text-align: center;
    font: verdana;
}

h2 {
   color: deepskyblue;
   text-align: center;
   font: verdana;
}

h3 {
    color: deepskyblue;
    text-align: center;
    font: verdana;
}

p {
    font: sans-serif;
    font-size: 20px;
        text-align: center;
}
 
h4 {
    color: deepskyblue;
    text-align: center;
    font: verdana;
}

@media (max-width: 502px){
    #cat {
    width:100%;
    }
}

h5 {
    color: deepskyblue;
    text-align: center;
    font: verdana;
}

h7 {
    color: deepskyblue;
    text-align: center;
    font: verdana;
}

<img src="Cat.gif"
     data-src-600px="Cat-600px.gif"
     data-src-800px="Cat-800px.gif"
     alt="">